
<div id="getting-started">
  <h3 class='section-heading'>3.8 million objects, with over 345,000 images!</h3>
<p>The collections of the Phoebe Hearst Museum of Anthropology are vast and diverse.  Please feel free to explore!

Enter a few interesting words for places, dates, people, or things in the search box above, or select one of the
<i>facets</i> at left to narrow things down.
</p>
<p>
Click <u><a href="">here</a></u> to watch a short video about how to use this search engine.
</p>
</div>

<style>
.grid {float: left; padding: 12px; background-color: light-gray;}
</style>
<div style="float:left">
<h4 class='section-heading'>Some Objects in the Collection</h4>
<div class="grid"><div class="tiny" style="padding-bottom: 4px;">
<a href="?utf8=✓&search_field=text&q=4-2620">4-2620</a></div><div><a target="image" href="https://webapps.cspace.berkeley.edu//imageserver/blobs/73775fb8-1ba5-420c-a60a/derivatives/OriginalJpeg/content"><img style="max-height:180px; padding: 0px 4px 4px 0px;" src="https://webapps.cspace.berkeley.edu//imageserver/blobs/73775fb8-1ba5-420c-a60a/derivatives/Medium/content"></a>
</div><p></p><h4>Pendant, Peru</h4>
</div>
<div class="grid"><div class="tiny" style="padding-bottom: 4px;">
<a href="?utf8=✓&search_field=text&q=1-19474">1-19474</a></div><div><a target="image" href="https://webapps.cspace.berkeley.edu//imageserver/blobs/7014fcd6-a374-4e1e-8e65/derivatives/OriginalJpeg/content"><img style="max-height:180px; padding: 0px 4px 4px 0px;" src="https://webapps.cspace.berkeley.edu//imageserver/blobs/7014fcd6-a374-4e1e-8e65/derivatives/Medium/content"></a></div><p></p><h4>Projectile Point, California</h4>
</div>
<div class="grid"><div class="tiny" style="padding-bottom: 4px;">
<a href="?utf8=✓&search_field=text&q=3-28797">3-28797</a></div><div><a target="image" href="https://webapps.cspace.berkeley.edu//imageserver/blobs/21d282ba-0e0f-42bd-bfc5/derivatives/OriginalJpeg/content"><img style="max-height:180px; padding: 0px 4px 4px 0px;" src="https://webapps.cspace.berkeley.edu//imageserver/blobs/21d282ba-0e0f-42bd-bfc5/derivatives/Medium/content"></a></div><p></p><h4>Female Figurine, Mexico</h4>
</div>
<div class="grid"><div class="tiny" style="padding-bottom: 4px;">
<a href="?utf8=✓&search_field=text&q=8-4461">8-4461</a></div><div><a target="image" href="https://webapps.cspace.berkeley.edu//imageserver/blobs/f2cdb093-2a8b-4527-b4ac/derivatives/OriginalJpeg/content"><img style="max-height:180px; padding: 0px 4px 4px 0px;" src="https://webapps.cspace.berkeley.edu//imageserver/blobs/f2cdb093-2a8b-4527-b4ac/derivatives/Medium/content"></a>
</div><p></p><h4>Coin: AR denarius, Rome</h4>
</div>
<div class="grid"><div class="tiny" style="padding-bottom: 4px;">
<a href="?utf8=✓&search_field=text&q=13-944">13-944</a></div><div><a target="image" href="https://webapps.cspace.berkeley.edu//imageserver/blobs/36a7acd4-d20a-40ce-bc28/derivatives/OriginalJpeg/content"><img style="max-height:180px; padding: 0px 4px 4px 0px;" src="https://webapps.cspace.berkeley.edu//imageserver/blobs/36a7acd4-d20a-40ce-bc28/derivatives/Medium/content"></a></div><p></p><h4>B&W Negative, California</h4>
</div>
<div class="grid"><div class="tiny" style="padding-bottom: 4px;">
<a href="?utf8=✓&search_field=text&q=5-16924">5-16924</a></div><div><a target="image" href="https://webapps.cspace.berkeley.edu//imageserver/blobs/49a990fb-d718-4c82-ba24/derivatives/OriginalJpeg/content"><img style="max-height:180px; padding: 0px 4px 4px 0px;" src="https://webapps.cspace.berkeley.edu//imageserver/blobs/49a990fb-d718-4c82-ba24/derivatives/Medium/content"></a>
</div><p></p><h4>Mummy Mask, Egypt</h4>
</div>
</div>
