// make header white, use PAHMA colors for some defaults
$navbar-inverse-bg: #fff;
$navbar-inverse-border: #fff;
$brand-primary: #22348D;
$state-success-text:  #1d2c78 !default;
$state-success-bg: #1d2c78 !default;
$state-success-bg: lighten($brand-primary, 60%);

.site_footer {
  color: white;
  padding: 15% 10%;
  margin-top: 0;

  ul {
    margin-top: 10px;
    list-style: none;
    padding-left: 0px;
    li + li {
      margin-top: 20px;
    }
    li {
      list_style_type: none;
      a {
        text-decoration: none;
        font-weight: bold;
        color: white;
        font-size: 1.5rem;
      }
    }
  }
}

.social ul>li {
  display: inline-block;
}
.social ul>li>a {
  font-size: 3.2rem;
  margin-right: 30px;
}
