<style>
.grid {padding: 12px; }
.splash_td {padding: 12px; background-color: light-gray; width: 230px; vertical-align: top;}
.splash_img {max-width:280px; padding: 0px 4px 4px 0px; }
.fr {float: right;}
.thumb {
    display: inline-block;
    width: 200px;
    height: 200px;
    margin: 2px;
    background-position: center center;
    background-size: cover;
}
</style>
<table>
<tr class="grid">
<td class="splash_td">
<h4 class='section-heading'>739,679 objects.</br>And 267,589 have photographs.</h4>
<p style="text-align: justify;">The collections of the Phoebe Hearst Museum of Anthropology are vast and diverse.
Please feel free to explore!
Enter a few interesting words for places, dates, people, or things in the search box above, or select one of the
<i>facets</i> at left to narrow things down.
</p>
</td>


<td class="splash_td">
<a target="image" href="https://webapps.cspace.berkeley.edu/pahma/imageserver/blobs/5af7bfc7-1226-40f9-961a/derivatives/OriginalJpeg/content]">
<div class="thumb" style="background-image: url('https://webapps.cspace.berkeley.edu/pahma/imageserver/blobs/5af7bfc7-1226-40f9-961a/derivatives/Medium/content]');" title=""></div></a>
<br/><b><a class="fr" href="?f%5Bhasimages_s%5D%5B%5D=yes&f%5Bobjname_s%5D%5B%5D=netsuke&per_page=100]">Netsuke</a></b>
<!-- a class="fr" href="?f%5Bhasimages_s%5D%5B%5D=yes&f%5Bobjname_s%5D%5B%5D=netsuke&per_page=100]"></a -->
</td>
<td class="splash_td">
<a target="image" href="https://webapps.cspace.berkeley.edu/pahma/imageserver/blobs/903aacba-d59b-469d-a19d/derivatives/OriginalJpeg/content]">
<div class="thumb" style="background-image: url('https://webapps.cspace.berkeley.edu/pahma/imageserver/blobs/903aacba-d59b-469d-a19d/derivatives/Medium/content]');" title=""></div></a>
<br/><b><a class="fr" href="?f%5Bhasimages_s%5D%5B%5D=yes&f%5Bobjname_s%5D%5B%5D=ere+ibeji+figure&per_page=100&view=masonry]">Ere ibeji figures</a></b>
<!-- a class="fr" href="?f%5Bhasimages_s%5D%5B%5D=yes&f%5Bobjname_s%5D%5B%5D=ere+ibeji+figure&per_page=100&view=masonry]"></a -->
</td>
<td class="splash_td">
<a target="image" href="https://webapps.cspace.berkeley.edu/pahma/imageserver/blobs/d83c1a00-a6cd-4dce-89e6/derivatives/OriginalJpeg/content]">
<div class="thumb" style="background-image: url('https://webapps.cspace.berkeley.edu/pahma/imageserver/blobs/d83c1a00-a6cd-4dce-89e6/derivatives/Medium/content]');" title=""></div></a>
<br/><b><a class="fr" href="?f%5Bobjname_s%5D%5B%5D=cuneiform+tablet&per_page=100&q=cuneiform&search_field=text&view=masonry]">Cuneiform tablets</a></b>
<!-- a class="fr" href="?f%5Bobjname_s%5D%5B%5D=cuneiform+tablet&per_page=100&q=cuneiform&search_field=text&view=masonry]"></a -->
</td>
<tr class="grid">
<td class="splash_td">
<a target="image" href="https://webapps.cspace.berkeley.edu/pahma/imageserver/blobs/2d051f00-c328-4305-bf37/derivatives/OriginalJpeg/content]">
<div class="thumb" style="background-image: url('https://webapps.cspace.berkeley.edu/pahma/imageserver/blobs/2d051f00-c328-4305-bf37/derivatives/Medium/content]');" title=""></div></a>
<br/><b><a class="fr" href="?f%5Bhasimages_s%5D%5B%5D=yes&f%5Bobjmaker_ss%5D%5B%5D=Joseph+Henry+Sharp&per_page=100&search_field=text&view=masonry]">Sharp paintings</a></b>
<!-- a class="fr" href="?f%5Bhasimages_s%5D%5B%5D=yes&f%5Bobjmaker_ss%5D%5B%5D=Joseph+Henry+Sharp&per_page=100&search_field=text&view=masonry]"></a -->
</td>
<td class="splash_td">
<a target="image" href="https://webapps.cspace.berkeley.edu/pahma/imageserver/blobs/abf3221e-3877-45d2-b6bc/derivatives/OriginalJpeg/content]">
<div class="thumb" style="background-image: url('https://webapps.cspace.berkeley.edu/pahma/imageserver/blobs/abf3221e-3877-45d2-b6bc/derivatives/Medium/content]');" title=""></div></a>
<br/><b><a class="fr" href="?f%5Bobjname_s%5D%5B%5D=shadow+puppet&per_page=100&search_field=text&view=masonry]">Shadow puppets</a></b>
<!-- a class="fr" href="?f%5Bobjname_s%5D%5B%5D=shadow+puppet&per_page=100&search_field=text&view=masonry]"></a -->
</td>
<td class="splash_td">
<a target="image" href="https://webapps.cspace.berkeley.edu/pahma/imageserver/blobs/5ff74dd1-1c7c-46d4-b9c0/derivatives/OriginalJpeg/content]">
<div class="thumb" style="background-image: url('https://webapps.cspace.berkeley.edu/pahma/imageserver/blobs/5ff74dd1-1c7c-46d4-b9c0/derivatives/Medium/content]');" title=""></div></a>
<br/><b><a class="fr" href="?f%5Bhasimages_s%5D%5B%5D=yes&f%5Bobjname_s%5D%5B%5D=spoon&per_page=100&search_field=text&view=masonry]">Spoons</a></b>
<!-- a class="fr" href="?f%5Bhasimages_s%5D%5B%5D=yes&f%5Bobjname_s%5D%5B%5D=spoon&per_page=100&search_field=text&view=masonry]"></a -->
</td>
<td class="splash_td">
<a target="image" href="https://webapps.cspace.berkeley.edu/pahma/imageserver/blobs/692f7d27-2228-4411-b24c/derivatives/OriginalJpeg/content]">
<div class="thumb" style="background-image: url('https://webapps.cspace.berkeley.edu/pahma/imageserver/blobs/692f7d27-2228-4411-b24c/derivatives/Medium/content]');" title=""></div></a>
<br/><b><a class="fr" href="?f%5Bhasimages_s%5D%5B%5D=yes&f%5Bobjname_s%5D%5B%5D=bark+painting&per_page=100&view=masonry]">Bark paintings</a></b>
<!-- a class="fr" href="?f%5Bhasimages_s%5D%5B%5D=yes&f%5Bobjname_s%5D%5B%5D=bark+painting&per_page=100&view=masonry]"></a -->
</td>
<tr class="grid">
<td class="splash_td">
<a target="image" href="https://webapps.cspace.berkeley.edu/pahma/imageserver/blobs/08e19928-f517-4042-a0e6/derivatives/OriginalJpeg/content]">
<div class="thumb" style="background-image: url('https://webapps.cspace.berkeley.edu/pahma/imageserver/blobs/08e19928-f517-4042-a0e6/derivatives/Medium/content]');" title=""></div></a>
<br/><b><a class="fr" href="?f%5Bhasimages_s%5D%5B%5D=yes&f%5Bobjname_s%5D%5B%5D=mask&per_page=100&view=masonry]">Masks</a></b>
<!-- a class="fr" href="?f%5Bhasimages_s%5D%5B%5D=yes&f%5Bobjname_s%5D%5B%5D=mask&per_page=100&view=masonry]"></a -->
</td>
<td class="splash_td">
<a target="image" href="https://webapps.cspace.berkeley.edu/pahma/imageserver/blobs/46b4dc11-bf80-4aac-9d05/derivatives/OriginalJpeg/content]">
<div class="thumb" style="background-image: url('https://webapps.cspace.berkeley.edu/pahma/imageserver/blobs/46b4dc11-bf80-4aac-9d05/derivatives/Medium/content]');" title=""></div></a>
<br/><b><a class="fr" href="?f%5Bhasimages_s%5D%5B%5D=yes&f%5Bobjname_s%5D%5B%5D=basket&per_page=100&view=masonry]">Baskets</a></b>
<!-- a class="fr" href="?f%5Bhasimages_s%5D%5B%5D=yes&f%5Bobjname_s%5D%5B%5D=basket&per_page=100&view=masonry]"></a -->
</td>
<td class="splash_td">
<a target="image" href="https://webapps.cspace.berkeley.edu/pahma/imageserver/blobs/c943961c-db89-4d83-a1a7/derivatives/OriginalJpeg/content]">
<div class="thumb" style="background-image: url('https://webapps.cspace.berkeley.edu/pahma/imageserver/blobs/c943961c-db89-4d83-a1a7/derivatives/Medium/content]');" title=""></div></a>
<br/><b><a class="fr" href="?utf8=%E2%9C%93&f%5Bhasimages_s%5D%5B%5D=yes&f%5Bobjfilecode_ss%5D%5B%5D=7.5+Issued+Currency+and+Associated+Containers&per_page=100&view=masonry&search_field=text&q=coin]">Coins</a></b>
<!-- a class="fr" href="?utf8=%E2%9C%93&f%5Bhasimages_s%5D%5B%5D=yes&f%5Bobjfilecode_ss%5D%5B%5D=7.5+Issued+Currency+and+Associated+Containers&per_page=100&view=masonry&search_field=text&q=coin]"></a -->
</td>
<td class="splash_td">
<a target="image" href="https://webapps.cspace.berkeley.edu/pahma/imageserver/blobs/690556b2-c1da-45bd-8bc1/derivatives/OriginalJpeg/content]">
<div class="thumb" style="background-image: url('https://webapps.cspace.berkeley.edu/pahma/imageserver/blobs/690556b2-c1da-45bd-8bc1/derivatives/Medium/content]');" title=""></div></a>
<br/><b><a class="fr" href="?f%5Bhasimages_s%5D%5B%5D=yes&f%5Bobjname_s%5D%5B%5D=scarab&per_page=100&view=masonry]">Scarabs</a></b>
<!-- a class="fr" href="?f%5Bhasimages_s%5D%5B%5D=yes&f%5Bobjname_s%5D%5B%5D=scarab&per_page=100&view=masonry]"></a -->
</td>
<tr class="grid">
<td class="splash_td">
<a target="image" href="https://webapps.cspace.berkeley.edu/pahma/imageserver/blobs/6e8453f0-f9da-4857-89cc/derivatives/OriginalJpeg/content]">
<div class="thumb" style="background-image: url('https://webapps.cspace.berkeley.edu/pahma/imageserver/blobs/6e8453f0-f9da-4857-89cc/derivatives/Medium/content]');" title=""></div></a>
<br/><b><a class="fr" href="?f%5Bhasimages_s%5D%5B%5D=yes&per_page=100&q=ishi&search_field=text&view=masonry]">Ishi-associated objects</a></b>
<!-- a class="fr" href="?f%5Bhasimages_s%5D%5B%5D=yes&per_page=100&q=ishi&search_field=text&view=masonry]"></a -->
</td>
<td class="splash_td">
<a target="image" href="https://webapps.cspace.berkeley.edu/pahma/imageserver/blobs/b6849745-214a-4d68-88fc/derivatives/OriginalJpeg/content]">
<div class="thumb" style="background-image: url('https://webapps.cspace.berkeley.edu/pahma/imageserver/blobs/b6849745-214a-4d68-88fc/derivatives/Medium/content]');" title=""></div></a>
<br/><b><a class="fr" href="?f%5Bhasimages_s%5D%5B%5D=yes&f%5Bobjname_s%5D%5B%5D=doll&per_page=100&search_field=text&view=masonry]">Dolls</a></b>
<!-- a class="fr" href="?f%5Bhasimages_s%5D%5B%5D=yes&f%5Bobjname_s%5D%5B%5D=doll&per_page=100&search_field=text&view=masonry]"></a -->
</td>
<td class="splash_td">
<a target="image" href="https://webapps.cspace.berkeley.edu/pahma/imageserver/blobs/8375d725-be04-4265-93a9/derivatives/OriginalJpeg/content]">
<div class="thumb" style="background-image: url('https://webapps.cspace.berkeley.edu/pahma/imageserver/blobs/8375d725-be04-4265-93a9/derivatives/Medium/content]');" title=""></div></a>
<br/><b><a class="fr" href="?f%5Bhasimages_s%5D%5B%5D=yes&f%5Bobjfcptree_ss%5D%5B%5D=Balkans%2C+Southern+Europe&f%5Bobjtype_s%5D%5B%5D=ethnography&per_page=100&search_field=text&view=masonry]">Western Balkans folk items</a></b>
<!-- a class="fr" href="?f%5Bhasimages_s%5D%5B%5D=yes&f%5Bobjfcptree_ss%5D%5B%5D=Balkans%2C+Southern+Europe&f%5Bobjtype_s%5D%5B%5D=ethnography&per_page=100&search_field=text&view=masonry]"></a -->
</td>
<td class="splash_td">
<a target="image" href="https://webapps.cspace.berkeley.edu/pahma/imageserver/blobs/f19262ad-7734-4e8f-a64c/derivatives/OriginalJpeg/content]">
<div class="thumb" style="background-image: url('https://webapps.cspace.berkeley.edu/pahma/imageserver/blobs/f19262ad-7734-4e8f-a64c/derivatives/Medium/content]');" title=""></div></a>
<br/><b><a class="fr" href="?f%5Bhasimages_s%5D%5B%5D=yes&f%5Bobjfcptree_ss%5D%5B%5D=Africa&f%5Bobjfilecode_ss%5D%5B%5D=1.3+Agriculture+and+Animal+Husbandry&per_page=100&search_field=text&view=masonry]">Traditional farming tools of Africa</a></b>
<!-- a class="fr" href="?f%5Bhasimages_s%5D%5B%5D=yes&f%5Bobjfcptree_ss%5D%5B%5D=Africa&f%5Bobjfilecode_ss%5D%5B%5D=1.3+Agriculture+and+Animal+Husbandry&per_page=100&search_field=text&view=masonry]"></a -->
</td>
<tr class="grid">
<td class="splash_td">
<a target="image" href="https://webapps.cspace.berkeley.edu/pahma/imageserver/blobs/04ff34ae-e97c-43eb-978e/derivatives/OriginalJpeg/content]">
<div class="thumb" style="background-image: url('https://webapps.cspace.berkeley.edu/pahma/imageserver/blobs/04ff34ae-e97c-43eb-978e/derivatives/Medium/content]');" title=""></div></a>
<br/><b><a class="fr" href="?f%5Bhasimages_s%5D%5B%5D=yes&f%5Bobjfcptree_ss%5D%5B%5D=Asia&f%5Bobjfilecode_ss%5D%5B%5D=1.3+Agriculture+and+Animal+Husbandry&per_page=100&search_field=text&view=masonry]">Traditional farming tools of Asia</a></b>
<!-- a class="fr" href="?f%5Bhasimages_s%5D%5B%5D=yes&f%5Bobjfcptree_ss%5D%5B%5D=Asia&f%5Bobjfilecode_ss%5D%5B%5D=1.3+Agriculture+and+Animal+Husbandry&per_page=100&search_field=text&view=masonry]"></a -->
</td>
<td class="splash_td">
<a target="image" href="https://webapps.cspace.berkeley.edu/pahma/imageserver/blobs/97746cdd-6f32-4d98-be5f/derivatives/OriginalJpeg/content]">
<div class="thumb" style="background-image: url('https://webapps.cspace.berkeley.edu/pahma/imageserver/blobs/97746cdd-6f32-4d98-be5f/derivatives/Medium/content]');" title=""></div></a>
<br/><b><a class="fr" href="?f%5Bhasimages_s%5D%5B%5D=yes&f%5Bobjfcptree_ss%5D%5B%5D=Asia&per_page=100&q=tea&search_field=text&view=masonry]">Teapots and tea cups</a></b>
<!-- a class="fr" href="?f%5Bhasimages_s%5D%5B%5D=yes&f%5Bobjfcptree_ss%5D%5B%5D=Asia&per_page=100&q=tea&search_field=text&view=masonry]"></a -->
</td>
<td class="splash_td">
<a target="image" href="https://webapps.cspace.berkeley.edu/pahma/imageserver/blobs/bee4807a-ddb1-4ca8-a3cd/derivatives/OriginalJpeg/content]">
<div class="thumb" style="background-image: url('https://webapps.cspace.berkeley.edu/pahma/imageserver/blobs/bee4807a-ddb1-4ca8-a3cd/derivatives/Medium/content]');" title=""></div></a>
<br/><b><a class="fr" href="xxx]">Stockton curves</a></b>
<!-- a class="fr" href="xxx]"></a -->
</td>
<td class="splash_td">
<a target="image" href="xxx]">
<div class="thumb" style="background-image: url('xxx]');" title=""></div></a>
<br/><b><a class="fr" href="xxx]">Obsidian bear claws</a></b>
<!-- a class="fr" href="xxx]"></a -->
</td>
<tr class="grid">
<td class="splash_td">
<a target="image" href="https://webapps.cspace.berkeley.edu/pahma/imageserver/blobs/c4a16f50-a88a-485c-9909/derivatives/OriginalJpeg/content]">
<div class="thumb" style="background-image: url('https://webapps.cspace.berkeley.edu/pahma/imageserver/blobs/c4a16f50-a88a-485c-9909/derivatives/Medium/content]');" title=""></div></a>
<br/><b><a class="fr" href="xxx]">Bartending wares</a></b>
<!-- a class="fr" href="xxx]"></a -->
</td>
<td class="splash_td">
<a target="image" href="https://webapps.cspace.berkeley.edu/pahma/imageserver/blobs/66e8b149-80bb-46a8-9f5d/derivatives/OriginalJpeg/content]">
<div class="thumb" style="background-image: url('https://webapps.cspace.berkeley.edu/pahma/imageserver/blobs/66e8b149-80bb-46a8-9f5d/derivatives/Medium/content]');" title=""></div></a>
<br/><b><a class="fr" href="?f%5Bhasimages_s%5D%5B%5D=yes&per_page=100&q=roman+glass&search_field=text&view=masonry]">Roman glass</a></b>
<!-- a class="fr" href="?f%5Bhasimages_s%5D%5B%5D=yes&per_page=100&q=roman+glass&search_field=text&view=masonry]"></a -->
</td>
</table>
