<style>
.grid {padding: 12px; }
.splash_td {padding: 12px; background-color: light-gray; width: 230px; vertical-align: top;}
.splash_img {max-width:280px; padding: 0px 4px 4px 0px; }
.fr {float: right;}
.thumb {
    display: inline-block;
    width: 200px;
    height: 200px;
    margin: 2px;
    background-position: center center;
    background-size: cover;
}
</style>
<table>
<tr class="grid">
<td class="splash_td">
<h4 class='section-heading'>3,800,000 objects.</br>345,000 images.</h4>
<p style="text-align: justify;">The collections of the Phoebe Hearst Museum of Anthropology are vast and diverse.
Please feel free to explore!
Enter a few interesting words for places, dates, people, or things in the search box above, or select one of the
<i>facets</i> at left to narrow things down.
</p>
</td>
<td class="splash_td">
<a target="image" href="https://webapps.cspace.berkeley.edu/pahma/imageserver/blobs/73775fb8-1ba5-420c-a60a/derivatives/OriginalJpeg/content">
<div class="thumb" style="background-image: url('https://webapps.cspace.berkeley.edu/pahma/imageserver/blobs/73775fb8-1ba5-420c-a60a/derivatives/Medium/content');" title=""></div></a>
<br/><b>Peru :: Gold</b>
<a class="fr" href="?utf8=✓&search_field=text&q=4-2620">4-2620</a>
</td>
<td class="splash_td">
<a target="image" href="https://webapps.cspace.berkeley.edu/pahma/imageserver/blobs/29555b47-c30c-4fea-93b7/derivatives/OriginalJpeg/content">
<div class="thumb" style="background-image: url('https://webapps.cspace.berkeley.edu/pahma/imageserver/blobs/29555b47-c30c-4fea-93b7/derivatives/Medium/content');" title=""></div></a>
<br/><b>California :: Arrowheads</b>
<a class="fr" href="?utf8=✓&search_field=text&q=1-19474">1-19474</a>
</td>
<tr class="grid">
<td class="splash_td">
<a target="image" href="https://webapps.cspace.berkeley.edu/pahma/imageserver/blobs/21d282ba-0e0f-42bd-bfc5/derivatives/OriginalJpeg/content">
<div class="thumb" style="background-image: url('https://webapps.cspace.berkeley.edu/pahma/imageserver/blobs/21d282ba-0e0f-42bd-bfc5/derivatives/Medium/content');" title=""></div></a>
<br/><b>Mexico :: Figurines</b>
<a class="fr" href="?utf8=✓&search_field=text&q=3-28797">3-28797</a>
</td>
<td class="splash_td">
<a target="image" href="https://webapps.cspace.berkeley.edu/pahma/imageserver/blobs/f2cdb093-2a8b-4527-b4ac/derivatives/OriginalJpeg/content">
<div class="thumb" style="background-image: url('https://webapps.cspace.berkeley.edu/pahma/imageserver/blobs/f2cdb093-2a8b-4527-b4ac/derivatives/Medium/content');" title=""></div></a>
<br/><b>Rome :: Coins</b>
<a class="fr" href="?utf8=✓&search_field=text&q=8-4461">8-4461</a>
</td>
<td class="splash_td">
<a target="image" href="https://webapps.cspace.berkeley.edu/pahma/imageserver/blobs/36a7acd4-d20a-40ce-bc28/derivatives/OriginalJpeg/content">
<div class="thumb" style="background-image: url('https://webapps.cspace.berkeley.edu/pahma/imageserver/blobs/36a7acd4-d20a-40ce-bc28/derivatives/Medium/content');" title=""></div></a>
<br/><b>California :: B&W Photos</b>
<a class="fr" href="?utf8=✓&search_field=text&q=13-944">13-944</a>
</td>
<tr class="grid">
<td class="splash_td">
<a target="image" href="https://webapps.cspace.berkeley.edu/pahma/imageserver/blobs/49a990fb-d718-4c82-ba24/derivatives/OriginalJpeg/content">
<div class="thumb" style="background-image: url('https://webapps.cspace.berkeley.edu/pahma/imageserver/blobs/49a990fb-d718-4c82-ba24/derivatives/Medium/content');" title=""></div></a>
<br/><b>Egypt :: Mummies</b>
<a class="fr" href="?utf8=✓&search_field=text&q=5-16924">5-16924</a>
</td>
<td class="splash_td" colspan="2">
<div style="float: left; width: 160px;">
<p>
Watch a short video on how to use this search engine.
Learn about:
<ul>
<li>Keyword searching.
<li>Using <i>Facets</i>.
<li>Displaying results.
<li>Contents of this collection.
</ul>
</div>
<div style="float: right;">
<iframe width="260px" height="200px" src="https://www.youtube.com/embed/WqRve5_UIdk" frameborder="0" allowfullscreen></iframe>
</p>
</div>
</td>
</table>
